#hizmet {
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(22, 93, 245, 0.1);
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
    h1 {
      color: #000;
      text-align: center;
      font-family: Poppins;
      font-size: 50px;
      font-style: normal;
      font-weight: 600;
      line-height: 61.5px;
      text-align: center;
    }

    p {
      margin-top: 30px;
      margin-bottom: 30px;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 25.5px;
      text-align: center;
    }

    button {
      display: block;
      margin: 0 auto;
      background: blue;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 11px 25px;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        background-color: #fff;
        color: blue;
        transition: all 0.2s linear;
      }
    }
  }
}
