#footer {
  overflow-x: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  background: blue;
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
    .footer__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        display: flex;
        align-items: center;
        gap: 32px;
        li {
          list-style-type: none;
          color: white;
          cursor: pointer;
          transition: all 0.2s linear;

          &:hover {
            transform: scale(1.1);
            transition: all 0.2s linear;
          }
        }
      }
      p {
        color: white;
      }
    }
  }
}
